.VueTables {
  .VuePagination {
    display: flex;
    align-items: center;
    nav {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      > p  {
        order: 0;
        margin: 0 15px 0 0;
      }
      > ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
        order: 1;

        .disabled,
        .disabled a {
          color: $color-secondary;
        }

        .active {
          color: #000;
        }

        li:first-child.disabled,
        li:last-child.disabled {
          display: none;
        }
      }

      .pagination {
        $gap-size: 3px;
        margin: 0 -#{$gap-size};
        .page-item {
          margin: 0 #{$gap-size};
        }
        .page-link {
          padding: 6px 13px;
        }
      }
    }
    @media only screen and (max-width: $breakpoint-sm-max) {
      nav {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        .VuePagination__count {
          flex-basis: 100%;
        }
        .VuePagination__pagination {
          margin-bottom: 15px;
          .page-link {
            padding: 4px;
            min-width: 32px;
          }
        }
      }
    }
    @media only screen and (max-width: $breakpoint-sm-max) {
      nav {
        .VuePagination__count {
          order: 1;
          flex-basis: 100%;
        }
      }
    }
  }
  .swoop-grid {
    .amount {
      .label {
        font-weight: 500;
      }
    }
    td.info {
      color: $color-secondary;
    }
    td.actions {
      text-align: right;
      .btn {
        font-weight: normal;
        padding: 5px 18px;
        + .btn {
          margin: 0 0 0 12px;
        }
      }
    }
  }
  .table-header-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -6px 20px;
    .VueTables__sorter {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      flex-grow: 1;
      @media only screen and (max-width: $breakpoint-md-max) {
        justify-content: space-around;
      }
    }
    @media only screen and (max-width: $breakpoint-md-max) {
      justify-content: center;
      text-align: center;
      margin-bottom: 15px;
      .sorter-wrapper,
      .filters {
        margin-bottom: 15px;
      }
    }
  }
  .table-footer-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media only screen and (max-width: $breakpoint-md-max) {
      justify-content: center;
      text-align: center;
      .VueTables__limit {
        padding-top: 15px;
        flex-basis: 100%;
        order: 1;
      }
    }
  }
  &__child-row-toggler {
    display: block;
    width: 16px;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    text-align: center;
    margin: auto;
    &--closed::before {
      content: '+';
    }
    &--open::before {
      content: '–';
    }
  }
  &__limit-field {
    line-height: 19px;
  }
  &__limit-field,
  .sorter-wrapper {
    display: inline-block;
    padding: 7px 8px;
    border-radius: $default-border-radius;
    background-color: $bg-body;
    select {
      border: none;
      background: transparent;
      padding: 0;
      height: auto;
      font-size: inherit;
      line-height: inherit;
      margin-left: 5px;
    }
    label {
      font-weight: normal;
    }
  }
  &__sortable {
    white-space: nowrap;
    cursor: pointer;
  }
  &__heading {
    display: inline-block;
    vertical-align: middle;
  }
  &__sort-icon {
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
  }
  .table-hover {
    tbody {
      .VueTables__no-results {
        cursor: auto;
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
  .sorter-wrapper {
    margin-left: 6px;
    margin-right: 6px;
  }
  .filters {
    display: inline-block;
    padding: 7px 8px;
    font-size: 14px;
    line-height: 19px;
    border-radius: $default-border-radius;
    background-color: $bg-body;
    margin-left: 6px;
    margin-right: 6px;
    max-width: 220px;
    @media only screen and (max-width: $breakpoint-md-max) {
      max-width: none;
    }
    .filters-holder {
      margin-right: -12px;
      margin-bottom: -6px;
    }
    .filter {
      margin-right: 12px;
      margin-bottom: 6px;
    }
  }
  .provider-logo {
    img {
      display: block;
      max-width: 100px;
      max-height: 48px;
    }
  }
}
