@import '../swoop/variables';

html {
  .v--modal-overlay {
    background-color: rgba($color-sherpa-blue, 0.9);
  }

  .v--modal {
    padding: 40px 32px;
    border-radius: $default-border-radius;
    box-shadow: 0 24px 32px 0 rgba(12, 0, 51, 0.1);

    @media only screen and (max-width: $breakpoint-sm-max) {
      width: 90% !important;
      left: 5% !important;
      padding: 20px;
    }
  }

  .v--modal-overlay .v--modal-box.v--modal {
    overflow: inherit;
  }
}
