$card-offset: 32px;

.card {
  background-color: $color-white;
  border-radius: $default-border-radius;
  padding: #{$card-vertical-offset} #{$card-horizontal-offset};

  &__{
    &shadow {
      box-shadow: $default-box-shadow;
    }
  }
}

.card-gapless-body {
  margin: -#{$card-vertical-offset} -#{$card-horizontal-offset};
}

@media only screen and (max-width: $breakpoint-sm-max) {
  .card {
    padding: #{$card-vertical-offset-sm} #{$card-horizontal-offset-sm};
  }

  .card-gapless-body {
    margin: -#{$card-vertical-offset-sm} -#{$card-horizontal-offset-sm};
  }
}
