.greeter {
  display: flex;
  // align-items: center;
  //padding: 3px 0 0;
  &__{
    &icon {
      flex-basis: 42px;
      flex-shrink: 0;
      width: 42px;
      min-width: 42px;
      height: 42px;
      margin-right: 18px;
    }
    &title {
      display: block;
      margin: 0;
    }
    &subtitle {
      @extend .text-secondary;
      display: block;
      font-style: normal;
      word-break: break-word;
    }
  }
  @media only screen and (max-width: $breakpoint-sm-max) {
    flex-wrap: wrap;
    justify-content: center;
    &__{
      &icon {
        margin-right: 0;
        margin-bottom: 15px;
      }
      &content {
        flex-basis: 100%;
        text-align: center;
        .greeter__header {
          padding: 0;
        }
        .greeter__title {
          flex-basis: 100%;
          text-align: center;
        }
      }
    }
  }
}
