.ui.toast {
  .toasted.bubble {
    &.success {
      padding: 0.875rem;

      .material-icons {
        display: none;
      }
    }

    &.error {
      background-color: $color-trinidad;
      padding: 0.875rem;
    }

    .text-center {
      text-align: center;
    }
  }
}

.toasted-top-container.top-center {
  top: 2%;

  > * {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    text-align: center;
  }

  .toasted-success {
    border: 1px solid $color-puerto-rico;
    background-color: $color-ice-cold;
    color: $color-green-pea;
  }

  .toasted-warning {
    border: 1px solid $color-crusta;
    background-color: $color-cinderella;
    color: $color-crusta;
  }

  .toasted-error {
    border: 1px solid $color-trinidad;
    background-color: $color-cinderella;
    color: $color-trinidad;
  }
}

@media only screen and (max-width: $breakpoint-md) {
  .toasted-top-container.top-center {
    width: 100%;

    > * {
      max-width: 90%;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      position: absolute;
    }
  }
}
