.fullwidth {
  width: 100%;
}
.align {
  &.center {
    display: flex;
    justify-content: center;
  }
  &.right {
    display: flex;
    justify-content: flex-end;
  }
}

.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.inline-middle {
  display: inline-block;
  vertical-align: middle;
}
.mobile.only {
  @media only screen and (min-width: $breakpoint-sm) {
    display: none;
  }
}
.computer.only {
  @media only screen and (max-width: $breakpoint-sm) {
    display: none;
  }
}
