.ui.message {
  padding: 0.25rem 1rem;
  border-radius: 6px;
  &.negative {
    background-color: lighten($color: $color-trinidad, $amount: 45);
    color: $color-trinidad;
  }
  &.info {
    background-color: $color-link-water;
  }
}
