@import '../swoop/variables';

.vb {
  $vertical-gap: 6px;
  > .vb-dragger {
    z-index: 5;
    width: 18px;
    right: 0;
    &:hover {
      > .vb-dragger-styler {
        background-color: $color-primary;
        opacity: 0.5;
        margin: $vertical-gap 5px;
        height: calc(100% - #{$vertical-gap} * 2);
      }
    }
    > .vb-dragger-styler {
      backface-visibility: hidden;
      transform: rotate3d(0, 0, 0, 0);
      transition:
        background-color 100ms ease-out,
        margin 100ms ease-out,
        height 100ms ease-out;
      background-color: $color-primary;
      opacity: 0.1;
      margin: $vertical-gap 7px;
      border-radius: 22px;
      height: calc(100% - #{$vertical-gap} * 2);
      display: block;
    }
  }
  &.vb-scrolling-phantom {
    > .vb-dragger {
      > .vb-dragger-styler {
        background-color: $color-primary;
        opacity: 0.3;
      }
    }
  }
  &.vb-dragging {
    > .vb-dragger{
      > .vb-dragger-styler {
        background-color: $color-primary;
        opacity: 0.5;
        margin: $vertical-gap 6px;
        height: calc(100% - #{$vertical-gap} * 2);
      }
    }
  }
  &.vb-dragging-phantom {
    > .vb-dragger {
      > .vb-dragger-styler {
        background-color: $color-primary;
        opacity: 0.5;
      }
    }
  }
}
