:root {
  --color-main: #546a7b;
  --color-main-hover: #40515e;
  --color-primary: #003e52;
  --color-primary-text-hover: #002b3a;
  --color-primary-button: #003e52;
  --color-primary-button-text: #ffffff;
  --color-primary-button-hover: #002b3a;
  --color-secondary: #e8eff8;
  --color-secondary-text-hover: #d5e2f2;
  --color-secondary-button: #e8eff8;
  --color-secondary-button-text: #003e52;
  --color-secondary-button-hover: hsl(213, 53%, 89%);
  --color-tertiary: #178be3;
  --color-tertiary-button: #178be3;
  --color-tertiary-button-text: #ffffff;
  --color-tertiary-button-hover: linear-gradient(90deg, $color-picton-blue 0%, $color-picton-blue 100%);
  --color-inactive: #8a9fae;
  --color-input-border: #ced7de;
  --color-general-headers: #003e52;
  --color-signin-header: #003e52;
  --color-signup-headers: #003e52;
  --color-select-goals-icons-fill: #2E9C8E;
  --color-select-goals-icons-background: #E4FFFC;
  --color-select-goals-icons-hover: #f4fffe;
  --color-select-goals-button: linear-gradient(270deg, #00a4a9 1.05%, #006d71 100%);
  --color-form-labels: #003e52;
  --color-form-tooltips-text: #ffffff;
  --color-form-tooltips: #2e9c8e;
  --color-matches-form-steps-active: #2e9c8e;
  --color-matches-form-steps-inactive: #c9d2d8;
  --color-link: #0e3248;
  --color-link-hover: #06151e;
  --color-welcome-link: #46c8b8;
  --color-sidebar-active: #003e52;
  --color-sidebar-icon-inactive: #e8eff8;
  --color-sidebar-icon-inactive-text: #8a9fae;
  --color-mobile-sidebar-background: #003e52;
  --color-lava-lamp-primary: #002b39;
  --color-lava-lamp-secondary: #003e52;
  --color-footer-text: #8a9fae;
  --linear-business-gradient: linear-gradient(90deg, rgba(0, 62, 82, 1) 0%, #003e52 100%);
  --linear-business-gradient-hover: linear-gradient(90deg, #2e9c8e 0%, #2e9c8e 100%);
  --linear-advisor-gradient: linear-gradient(90deg, #51aaed 0%, #b0d9f7 100%);
  --linear-advisor-gradient-hover: linear-gradient(90deg, #349bea 0%, #89c6f3 100%);
}