h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: $font-primary;
  font-weight: 600;
  color: $color-general-headers;
}

h1,
.h1 {
  font-size: 24px;
  line-height: 36px;
  margin: 0 0 15px;
}
h2,
.h2 {
  font-size: 20px;
  line-height: 28px;
  margin: 0 0 15px;
}
h3,
.h3 {
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 15px;
}
h4,
.h4 {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 15px;
}

a,
.link {
  color: $color-link;
  text-decoration: underline;
  background: none;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: none;
    color: $color-link-hover;
    font-weight: bold;
  }

  &[type=button] {
    cursor: pointer;
  }
  &:not(.btn) {
    &:focus {
      color: $color-primary;
      .material-icons {
        color: $color-primary;
      }
    }
  }
}

p {
  margin: 0 0 20px;
}

b,
strong {
  font-weight: 500;
}

.meta {
  color: $color-main;
  background: none;
  border: none;
  font-size: 12px;
  line-height: 16px;
}

.subnav {
  color: $color-main;
  background: none;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  &:active {
    color: $color-elephant;
  }
}
