#{$alert-namespace} {
  padding: 8px 8px 9px;
  border-radius: $default-border-radius;
}

@each $alert-type in $alert-types {
  $alert-name: nth($alert-type, 1);
  $alert-background: nth($alert-type, 2);
  $alert-color: nth($alert-type, 3);

  #{$alert-namespace}-#{$alert-name} {
    background-color: $alert-background;
    color: $alert-color;
    a {
      color: darken($alert-background, 25%);
      &:hover,
      &:focus {
        color: darken($alert-background, 35%);
      }
    }
  }
}

.alert {
  top: 16px;
  width: inherit;
  padding: 8px 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &.alert-primary {
    background: $linear-gradient-primary;
  }
  p {
    margin-bottom: 0;
    color: $color-white;
    flex-grow: 1;
  }
}
