.breadcrumb {
  padding-left: 0;
  margin: 0;
  list-style: none;
  > li {
    display: inline-block;
    color: $breadcrumb-color;
    + li::before {
      $nbsp: '\00a0';
      content: '#{$breadcrumb-separator}#{$nbsp}'; // Unicode space added since inline-block means non-collapsing white-space
      padding: 0 5px;
    }
  }
  > .active {
    color: $breadcrumb-active-color;
  }
}
