$track-height: 5px;
$thumb-size: 21px;
$thumb-border-size: 4px;

input[type='number'] {
  -moz-appearance: textfield;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
textarea {
  resize: none;
  font-family: $font-primary;
}
@mixin form-controls {
  .form-control,
  input[type='text'],
  input[type='url'],
  input[type='tel'],
  input[type='email'],
  input[type='password'],
  input[type='number'],
  input[type='search'],
  input[type='file'],
  input[type='date'],
  input[type='month'],
  select,
  textarea {
    @content;
    border-radius: 8px;
    font-family: $font-primary;
  }
}
@mixin base-field-label {
  display: inline-block;
  font-size: $label-font-size;
  font-weight: 500;
  line-height: $label-line-height;
  color: $label-color;
  vertical-align: top;
  margin-bottom: 7px;
}

@mixin base-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  > input,
  > input[type='text'],
  > input[type='email'],
  > input[type='password'] {
    @content;
    padding: 5px 16px;
    box-sizing: border-box;
    height: 36px;
    border: 1px solid $input-border-color;
    border-radius: 8px;
  }
  > label:first-of-type {
    @content;
    @include base-field-label;
  }
}
@mixin thumb {
  border: $thumb-border-size solid #fff;
  box-shadow: 0 0 1px #333;
  height: $thumb-size;
  width: $thumb-size;
  border-radius: 50%;
  background: $color-primary;
  cursor: pointer;
  box-sizing: border-box;
}
@mixin track {
  width: 100%;
  height: $track-height;
  cursor: pointer;
}

.form-row {
  margin-bottom: $form-row-offset;

  @include form-controls {
    display: block;
    width: 100%;
  }
}
.form-group-title {
  font-size: 20px;
  font-weight: normal;
  line-height: 28px;
  color: $color-elephant;
  padding-bottom: 10px;
  border-bottom: 1px solid $default-border-color;
  width: 100%;
  margin-bottom: 20px;
}

.form-label {
  @include base-field-label();
}

.input-group {
  position: relative;
  display: block;
  .group {
    position: absolute;
    display: flex;
    width: 32px;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: $color-blue-bayoux;
    top: 0;
    cursor: pointer;
  }

  &.group-left {
    @include form-controls {
      padding-left: 30px;
    }
    .group {
      right: auto;
      left: 0;
    }
  }

  &.group-right {
    @include form-controls {
      padding-right: 30px;
    }

    .group {
      left: auto;
      right: 0;
    }
  }
}

@include form-controls {
  background: $bg-input;
  border: 1px solid $input-border-color;
  border-radius: $default-border-radius;
  padding: $input-vertical-offset $input-horizontal-offset;
  font-size: $input-font-size;
  line-height: $input-line-height;
  font-weight: normal;
  margin: 0;
  outline: none;
  &.invalid.dirty {
    border-color: $color-danger;
    //color: $color-danger;
  }

  &.form-control-block {
    display: block;
    width: 100%;
  }
  &:focus {
    box-shadow: $focus-box-shadow;
  }
  &:disabled {
    background: $bg-input-disabled;
  }
}

@include input-placeholder {
  color: $color-inactive;
  font-family: $font-primary;
}

.field {
  @include base-field();
  .field {
    margin-bottom: 0px;
  }
  .icon-text {
    font-style: normal;
  }
}
.two.fields {
  position: relative;
  display: flex;
  > .field {
    @include base-field();
    width: 100%;
    &:first-of-type {
      margin-right: 24px;
    }
    margin-bottom: 1.5rem;
  }
  @media only screen and (max-width: 770px) {
    display: block;
  }
}
select {
  cursor: pointer;
  height: $select-base-height;
  padding-left: 0 !important; // Safari
  text-indent: $input-horizontal-offset; // Safari
  &[multiple] {
    height: 202px;
  }
  &.empty {
    color: $color-inactive;
    option {
      color: $color-main;
    }
  }
}

input[type='range'] {
  display: inline-block;
  appearance: none;
  width: 100%;
  background: transparent;
  &:focus {
    outline: none;
    &::-webkit-slider-runnable-track {
      background: $color-primary;
    }
    &::-ms-fill-lower {
      background: $color-primary;
    }
    &::-ms-fill-upper {
      background: #aaa;
    }
  }
  &::-webkit-slider-thumb {
    @include thumb();
    -webkit-appearance: none;
    margin-top: -8px;
  }
  &::-moz-range-thumb {
    @include thumb();
  }
  &::-ms-thumb {
    @include thumb();
    margin-top: -2px;
  }

  &::-webkit-slider-runnable-track {
    @include track();
    background: $color-primary;
    border-radius: 3px;
  }
  &::-moz-range-track {
    @include track();
    background: $color-primary;
    border-radius: 3px;
  }
  &::-ms-track {
    @include track();
    border-width: 3px 0;
    background: transparent;
    border-color: transparent;
    color: transparent;
    padding: 9px 0;
  }
  &::-ms-fill-lower {
    background: $color-primary;
    border-radius: 3px;
  }
  &::-ms-fill-upper {
    background: #aaa;
    border-radius: 3px;
  }
}

input[type='radio'],
input[type='checkbox'],
.ui.checkbox {
  &:focus {
    outline: none;
    -webkit-appearance: none;
    + .holder {
      outline: none;
      -webkit-appearance: none;
      box-shadow: none;
    }
  }
}
.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  input[type='radio'],
  input[type='checkbox'] {
    position: absolute;
    opacity: 0;
    z-index: -1;
    &:focus + * {
      outline: none;
    }
  }

  & > * {
    float: left;
    border-radius: 0;
    margin-left: -1px;

    .btn {
      border-radius: 0;
    }

    &:first-child {
      margin-left: 0;
    }

    &:first-child,
    &:first-child .btn {
      border-bottom-left-radius: $default-border-radius;
      border-top-left-radius: $default-border-radius;
    }

    &:last-child,
    &:last-child .btn {
      border-bottom-right-radius: $default-border-radius;
      border-top-right-radius: $default-border-radius;
    }
  }

  input[type='radio']:not(:checked) + .btn,
  input[type='checkbox']:not(:checked) + .btn {
    background: $color-white;
  }

  input[type='radio']:checked + .btn,
  input[type='checkbox']:checked + .btn {
    color: $color-white;
  }
}
