.label {
  display: inline;
  padding: .4em 1em;
  font-size: 12px;
  line-height: 16px;
  color: $color-main;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  &:empty {
    display: none;
  }

  .btn & {
    position: relative;
    top: -1px;
  }
}

.label-rounded {
  border-radius: 2em;
}

a.label {
  &:hover,
  &:focus {
    text-decoration: none;
    cursor: pointer;
  }
}

@each $label-type in $label-types {
  $label-name: nth($label-type, 1);
  $label-background: nth($label-type, 2);
  $label-color: nth($label-type, 3);

  .label-#{$label-name} {
    background-color: $label-background;
    color: $label-color;
    &[href] {
      &:hover,
      &:focus {
        background-color: darken($label-background, 10%);
      }
    }
  }
}
