.list-group {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 8px;
  margin-bottom: 8px;
  background-color: $color-white;
  border-width: 0 0 0 3px;
  border-style: solid;
  border-color: transparent;
  border-radius: $default-border-radius
}

a.list-group-item,
button.list-group-item {
  color: $list-group-color;
  cursor: pointer;
  &:hover,
  &:focus {
    text-decoration: none;
    color: $list-group-hover-color;
  }
}

button.list-group-item {
  width: 100%;
  text-align: left;
}

.list-group-item {
  &.disabled,
  &.disabled:hover,
  &.disabled:focus {
    color: $color-secondary;
    cursor: auto;
  }
  &.active,
  &.router-link-exact-active,
  &.active:hover,
  &.router-link-exact-active:hover,
  &.active:focus,
  &.router-link-exact-active:focus {
    color: $list-group-active-color;
    border-color: $list-group-active-color;
  }
}

.list-group-striped {
  .list-group-item {
    border: none;
    margin-bottom: 0;
    border-radius: 0;
  }
  li + li {
    border-top: 1px solid $default-border-color;
  }
}

.list-group-dark {
  .list-group-item {
    color: $color-main;
    &.active,
    &.router-link-exact-active,
    &.active:hover,
    &.router-link-exact-active:hover,
    &.active:focus,
    &.router-link-exact-active:focus {
      color: $color-main;
      background-color: $color-black-squeeze;
    }
  }
}

.list-group-item-navigator {
  color: $color-blue-bayoux;
  background-color: $color-white;
  border: 1px solid $color-link-water;
  border-radius: 8px;
  padding: 6px 12px;
  margin-bottom: 5px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 48px;
  cursor: pointer;
  .complete-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-align: center;
    background-color: $color-catskill-white;
    .material-icons {
      line-height: 32px;
      color: $color-primary;
    }
  }
  &.router-link-active {
    border-color: $color-puerto-rico;
  }
}
