.page-navigation {
  flex-basis: 360px;
  padding: 55px 36px;
  background-color: $bg-body;
  .btn-back {
    margin-bottom: 27px;
  }
  .navigation-title {
    color: $color-elephant;
    margin-bottom: 24px;
    font-weight: normal;
  }
}
